<app-nav-bar></app-nav-bar>
<section class="main-content">
  <app-add-project class="add-project-component" (emitProject)="addNewProject($event)" [form]="addForm"></app-add-project>
  <app-project-list (emitShowDetails)="openModal($event)" (emitDeleteItem)="openDeleteModal($event)" class="project-list-component"
    [projects]="projects">
  </app-project-list>
</section>
<app-project-detail-modal class="modal" *ngIf="showModal" [item]="selectedProject" [form]="editform" (emitCloseModal)="showModal = false"
  [editable]="isEditable" (emitUpdateProject)="updateProject($event)"></app-project-detail-modal>
<app-confirmation-modal class="modal" *ngIf="deleteModalOpen" [item]="selectedProject" (emitCloseModal)="deleteModalOpen = false" (deleteProject)="deleteProject($event)">
</app-confirmation-modal>