/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
	font: inherit;
  font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.title {
  font-size: 28px;
  font-weight: bold;
  color: darkorange;
  margin: 10px;
}
.modal {
  position: fixed;
  background-color: white;
  left: 30%;
  top: 80px;
  width: 40%;
  border: solid 1px darkorange;
  border-radius: 5px;
  border-left: solid 40px darkorange;
  padding: 20px;
}
.content-container {
  border-radius: 5px;
  background-color: lightblue;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
}
.btn {
  margin: 10px;
  min-width: 120px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: teal;
  color: white;
}
.my-icons {
  color: teal;
}
.input-field {
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin: 5px;
}
.input-label {
  font-size: 12px;
  display: block;
  color: white;
}
.card {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  border-left: solid 20px darkorange;
  cursor: pointer;
  margin: 10px 5px;
}
