<div class="detail-container">
  <h1 class="title inverse-title">Project Details</h1>
  <form class="form" [formGroup]="form">
    <div class="info-container">
      <input formControlName="name" class="info-field item-name">
      <label class="input-label" for="name">
        Project Name:
      </label>
    </div>
    <div class="info-container">
      <input formControlName="description" class="info-field item-name">
      <label class="input-label" for="description">
        Description:
      </label>
    </div>
    <div class="info-container">
      <input formControlName="deadline" class="info-field item-name">
      <label class="input-label" for="deadline">
        Deadline:
      </label>
    </div>
    <div class="btn-container">
      <button class="btn" *ngIf="editable" (click)="updateProject()">Update</button>
      <button class="btn" (click)="emitCloseModal.emit()">Close</button>
    </div>
  </form>
</div>